<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!--<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

  <style>
    .gotolink {
      float: right;
      margin-top: 10px;
      font-size: 20px;
    }


    #alltweets {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(6, 3fr);
      grid-auto-rows: minmax(110px, auto);
      grid-column-gap: 15px;
      grid-row-gap: 80px;
      /* max-width: 20px; */
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 30%;
      border-radius: 5px;
      -webkit-transition: 0.5s;
      transition: 0.5s;

    }

    .card:hover {
      box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0.905);
      /* transform: scale(0.905); */
      transform: scale(1.05);

    }

    .border-primary {
      border-color: #f1f1f1;
    }
  </style>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background: rebeccapurple;">
      <a class="navbar-brand" style="font-weight: bold; font-family: Satisfy;" href="/">Social Hub</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link " href="/">Home
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link active" href="/twitter">
            <span class="fab fa-twitter-square"></span> Twitter</a>
          <a class="nav-item nav-link" href="/oauth">
            <span class="fab fa-instagram"> </span> Instagram</a>
          <a class="nav-item nav-link " href="/developers">Developers</a>
        </div>
      </div>
    </nav>

    <!--bboootstrap form-->

    <div class="container">
      <div class="col-md-8 offset-md-2">
        <form role="form" action="/twitter" method="post" class="form-group" enctype="multipart/form-data">
          <div class="form-group">
            <br>
            <input style="height: 150px;" autocomplete="off" type="text" class="form-control form-control-lg" id="exampleInputEmail1"
              name="tweet" placeholder="What's on your mind, tweet here......">
          </div>
          <div class="form-group" style="border:1px solid #ddd; border-radius:10px;
            background-color:#efefef; margin-bottom:10px; width: 120px;">
            <label for="exampleInputFile" name="image">File input</label>
            <img src="https://image.ibb.co/eHmOvU/uploadimage2.png" height="20px" width="20px" style="border-radius:20px;">
            <input type="file" id="exampleInputFile" name="avatar" style="position:absolute;
            left:0;top:0; opacity:0">
          </div>

          <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
        </form>

      </div>

    </div>

    <!--form end -->
    <br>
    <br>
    <br>
    <br>
    <div style="margin-left: 80px;" id="alltweets">
      <% data.forEach(function(element){ %>


        <div class="card" style="width: 20rem;">

          <% if(element.entities.media!==undefined){ %>
            <% element.entities.media.forEach( function(image) { %>
              <img class="card-img-top img-thumbnail" src=" <%= image.media_url %> " alt="Card image cap">
              <%}) ;%>
                <%}%>

                  <div class="card-body" style="border:1px solid #f2f2f2;">
                    <h4 class="card-title pull-right">
                      <span style="color: grey; font-size: 15px; font-family:cursive;">
                        Tweeted By:
                        <%= element.user.name %>
                      </span>
                    </h4>
                    <h5 class="card-text tweet-text">
                      <%= element.text %>
                    </h5>
                  </div>
                  <div class="card-footer text-muted">

                    <span style="color:red; font-size: 25px;">♥</span>

                    <%= element.user.favourites_count %>
                      <a class="gotolink" target="_blank">
                        <i class="fa fa-link"></i>
                      </a>

                  </div>


        </div>

        <br>
        <%});%>
    </div>

    <div style="margin-bottom:280px;">

    </div>

  </div>
  <!-- 
    <% data.forEach(function(element){ %>
     
    <li>
        <%= element.text %>
        <% if(element.entities.media!==undefined){ %>
        <% element.entities.media.forEach( function(image) { %>
       <img src= " <%= image.media_url %> " alt="">
        <%}) ;%>

        <%}%>
    </li>
    
    <% }) ;%>
    </div> -->


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>



<script>
  for (var i = 0; i <= 50; i++) {
    var str = document.getElementsByClassName("tweet-text")[`${i}`].innerHTML;
    var n = str.search("https");
    if (n !== -1) {
      var ans = str.substring(0, n);
      var linkk = str.substring(n, str.length - 1).trim();
      console.log(linkk);
      document.getElementsByClassName("tweet-text")[`${i}`].innerHTML = ans;

      var a = document.getElementsByClassName("gotolink")[`${i}`];
      a.href = linkk;
    }
  }
</script>

</html>